
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content=""> </meta>
    
    <link rel="icon" href="../../favicon.ico"></link>

    <title>QuickFire (tm) || You're recent games in detail</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet"></link>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quick Fire</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br /><br />
    <div class="container">

      <div class="starter-template">
        <h1>Last 3 Games played by you:</h1>
	
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table class="table table-hover table-bordered">
    	<tr><td>Game 1</td>
    		<td><p th:text="	'You played ' + ${champion1} + ' and got kills: '+ ${kills1} + '!'	"/></td>
    	</tr>
    	<tr><td>Game 2</td>
    		<td><p th:text="	'You played ' + ${champion2} + ' and got kills: '+ ${kills2} + '!'	"/></td>
    	</tr>
    	<tr>
    		<td>Game 3</td>
    		<td><p th:text="	'You played ' + ${champion3} + ' and got kills: '+ ${kills3} + '!'	"/></td>
    	</tr>
    </table>
    <br /><br />
    <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Summoner Name</label>
    <input type="text" class="form-control" placeholder="Enter Summoner name"></input>
  </div>
  <input type="submit" value="Search"> </input>
  </form>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
